/* Style reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar-Hero start */

/* Navbar-Hero end */

/* Our-Team start */
.our-team {
  background-color: #fff9ec;
  color: #6d3a3a;
  padding: 10px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.our-team h2 {
  color: #6d3a3a;
  margin-bottom: 20px;
}
.team-members {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.team-members figure {
  margin: 10px;
}
.team-members img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.team-members h3 {
  margin-top: 10px;
  font-size: 1.5em;
}
figcaption {
  color: #a32020;
  font-size: 0.8em;
  max-width: 200px;
}
.team-members p {
  margin-bottom: 20px;
}
/* Our-Team end */

/* Time-to-hike start */

/* Time-to-hike end */

/* Statistics start */

/* Statistics end */

/* Tour-Guide start */

/* Tour-Guide end */

/* Footer start */

/* Footer end */