/* Style reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar-Hero start */

/* Navbar-Hero end */

/* Our-Team start */

/* Our-Team end */

/* Time-to-hike start */

/* Time-to-hike end */

/* Statistics start */

/* Statistics end */

/* Tour-Guide start */

/* Tour-Guide end */

/* Footer start */

footer {
    background-color: #2a141a;
    /*background-color: cyan;*/
    color: white;

    display:flex;
    justify-content: space-around;
    padding: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    gap: 1rem;
    font-family: system-ui, sans-serif;
}

/*footer > div { outline: 2px solid red; }*/

footer h3 {
  font-weight: 800;
  margin-bottom: 1rem;
}

footer ul,
footer p {
  font-weight: 400;
}

.footer_social_section {
    flex: 0 1 28ch;
}

.footer_social_text {
 margin-bottom: 2rem;
}

.footer_social_links {
  display: flex;
  gap: 0.7rem;
}

.footer_link_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.footer_link_list a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.footer_link_list a:hover {
  color: cyan;
}

.icon {
  width: 32px;
}

/* Footer end */