/* Style reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.our-team h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #6d3a3a;
  margin-bottom: 20px;
}
.team-members {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.team-members figure {
  margin: 10px;
}
.team-members img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.team-members h3 {
  margin-top: 10px;
  font-size: 1.5em;
}
figcaption {
  color: #a32020;
  font-size: 0.8em;
  max-width: 200px;
}
.team-members p {
  margin-bottom: 20px;
}
.tour-guide {
  background-color: #fff9ec;
  color: darkred;
  padding: 10px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.tour-guide h2 {
  font-size: 1.5rem;
  color: #6d3a3a;
  margin-bottom: 20px;
  text-align: center;
}
.tour-guide p {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.1rem;
}
.guides figure {
  margin: 10px;
}
.guides img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;

}
.guides {
  background-color: #f0f0f0;
  color: #333;
  padding: 10px;
  text-align: center;
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
