/* Style reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar-Hero start */

/* Navbar-Hero end */

/* Our-Team start */

/* Our-Team end */

/* Time-to-hike start */

/* Time-to-hike end */

/* Statistics start */

/* Statistics end */

/* Tour-Guide start */

/* Tour-Guide end */

/* Footer start */

/* Footer end */